{% extends 'base.html.twig' %}



{% block body %}

    <h2> mes petits seaux :</h2>


    {% for unVoeux in tousLesVoeux %}
        <p><a href="{{ path('wish_detail',{'id':unVoeux.id}) }}">{{ unVoeux.id }} - {{ unVoeux.name }}</a></p>
    {% endfor %}

{% endblock %}





