{% extends 'base.html.twig' %}

{% block body %}
<p><a href="{{ path('wish_detail',{'id':1}) }}">- Chose une</a></p>
<p><a href="{{ path('wish_detail',{'id':2}) }}">- Chose deux</a></p>
<p><a href="{{ path('wish_detail',{'id':3}) }}">- Chose trois</a></p>
{% endblock %}

